*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f6f8f9;
}

.logo{
    height: 70px;
    background-color: white;
}

img{
    padding: 10px;
    padding-left: 20px;
    padding-right: 5px;
    vertical-align: middle;
}

#logotext{
    font-size: 40px;
    font-weight: bold;
    height: 80px;
    vertical-align: middle;
}

.littlecontainer{
    width: 70%;
    height: 60px;
    background: white;
    margin: 40px auto 5px;
    border-radius: 5px;
    padding: 20px 60px;
}

#addtask{
    width: 100px;
    height: 30px;
    color: white;
    background: #47adf1;
    border-radius: 8px;
    border: 1px solid #47adf1;
}

#addsection{
    width: 100px;
    height: 30px;
    font-weight: 700;
    color: rgb(210, 210, 210);
    background: white;
    border-radius: 8px;
    border: 1px solid rgb(200, 200, 200);
}

.container{
    width: 70%;
    height: 500px;
    background: white;
    margin: auto;
    border-radius: 5px;
    padding: 40px 60px;
}

.downarrow{
    font-size: 35px;
    vertical-align: text-top;
    color: #464a53;
}

.title{
    font-size: 20px;
    font-weight: bold;
    vertical-align: text-top;
    color: #464a53;
}

.checkmark{
    color: #79c9b6;
    border: 2px solid #79c9b6;
    padding: 3px 5px;
    border-radius: 100%;
    margin-left: 6px;
    font-weight: bold;
    font-size: 10px;
}

.crossmark{
    color: #ff0000;
    border: 2px solid #ff0000;
    padding: 3px 2px;
    border-radius: 100%;
    margin-left: 6px;
    font-weight: bold;
    font-size: 10px;
}

.tasks{
    font-weight: bold;
    color: #464a53;
}

.subtitle{
    padding-bottom: 30px;
}

.etichetta{
    font-size: 10px;
    width: 70px;
    height: 25px;
    color: white;
    background: #47adf1;
    border-radius: 11px;
    border: 1px solid #47adf1;
}

#q1{
    background-color: #9c72e4;
    border-color: #9c72e4;
}

#recruiting{
    background-color: #64c0a9;
    border-color: #64c0a9;
}

#mobile{
    background-color: #f29e33;
    border-color: #f29e33;
}
